@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --color-som: #FF6B18; /* Default color */
  --color-somon: #FDEAE3;
  --color-sombar: #FAA88A;
}

.bg-som {
  background-color: var(--color-som);
}

.text-som {
  color: var(--color-som);
}

.bg-somon {
  background-color: var(--color-somon);
}

.text-somon {
  color: var(--color-somon);
}

.bg-sombar {
  background-color: var(--color-sombar);
}

.text-sombar {
  color: var(--color-sombar);
}